extends layout

block content

  h1 showing all books. 
  each book in books
    a(href='#{book.amazon_product_url}')
      img.bookimages(src='#{book.book_image}')
      span buy book on amazon
      span Description: #{book.description} 
  
a(href = 'books/new') add a book
