body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.header{
  width: 100vw;
  height: 20vh;
  margin-top: 0;
  background-color: teal;
}


.bookimages{
  height: 300px;
  width: 200px;
}

.bookimages:hover{
  opacity: .5;
}

a {
  float: left;
  position: relative;
}

a img {
  display: block;
}

a span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: #ddd;
  padding: 20px;
}

a:hover span {
  display: block;
}
